
<div class="loot-table">
    <div class="header">
        <span><b>{{container.name}} Loot Table ({{quantity.min}} - {{quantity.max}})</b></span>
        <i class="bi bi-x-square" (click)="closeClick.emit()"></i>
    </div>
    <div class="table">
        <div class="collection-header"> 
            <div style="flex: 5; text-align: left; padding: 8px;">Collection Name</div>
            <div style="flex: 2; text-align: center; padding: 8px;" >Chance</div>
            <div style="flex: 2; text-align: center; padding: 8px;">Rewards</div>
            <div style="flex: 1; text-align: center; padding: 8px;"></div>
        </div>
        <div *ngFor="let collection of tables" class="row-style">
            <div class="collection-row" *ngIf="activeCollection == collection.name || activeCollection == ''"> 
                <div style="flex: 5; text-align: left;">{{collection.name}}</div>
                <div style="flex: 2; text-align: center;" >{{collection.chance | number:'1.0-2'}}%</div>
                <div style="flex: 2; text-align: center;">{{collection.quantity.min}} - {{collection.quantity.max}}</div>
                <div 
                    *ngIf="activeCollection != collection.name"
                    style="flex: 1; text-align: center; cursor: pointer;" 
                    (click)="activeCollection = collection.name">
                    <i class="bi bi-chevron-down"></i>
                </div>
                <div 
                    *ngIf="activeCollection == collection.name"
                    style="flex: 1; text-align: center; cursor: pointer;" 
                    (click)="activeCollection = ''">
                    <i class="bi bi-chevron-up"></i>
                </div>
            </div>
            <div *ngIf="activeCollection == collection.name">
                <div class="loot-header"> 
                    <div style="width: 25px; height: 25px; text-align: center; padding: 8px;"></div>
                    <div style="flex: 4; text-align: left; padding: 8px;" >Name</div>
                    <div style="flex: 2; text-align: center; padding: 8px;">Quantity</div>
                    <div style="flex: 2; text-align: center; padding: 8px;">Chance</div>
                    <div style="flex: 2; text-align: center; padding: 8px;">BP</div>
                    <div style="flex: 2; text-align: center; padding: 8px;">^Quality</div>
                </div>
                <div *ngFor="let set of collection.sets" class="item-set">
                    <div class="collection-row" style="padding: 5px;">
                        <div style="width: 25px;"></div>
                        <div style="flex: 4; text-align: left;">Item Set ({{set.items.length}})</div>
                        <div style="flex: 2; text-align: center;">{{set.quantity.min == set.quantity.max ? set.quantity.min : set.quantity.min + "-" + set.quantity.max}}</div>
                        <div style="flex: 2; text-align: center;">{{set.chance | number:'1.0-2'}}%</div>
                        <div style="flex: 2; text-align: center;">n/a</div>
                        <div style="flex: 2; text-align: center;">n/a</div>
                    </div>
                    <div *ngFor="let item of set.items" class="loot-row row-style" style="padding-left: 30px;">
                        <img style="text-align: center; padding: 0px;" [src]="item.image" width="25px" height="25px"/>
                        <div style="flex: 4; text-align: left; padding-left: 5px;"><a [href]="item.link" target="_blank">{{item.name}}</a></div>
                        <div style="flex: 2; text-align: center;"></div>
                        <div style="flex: 2; text-align: center;"></div>
                        <div style="flex: 2; text-align: center;">{{item.blueprintPercent | number:'1.0-2' }}%</div>
                        <div style="flex: 2; text-align: center;">{{item.quality.max * 100 | number:'1.0-0'}}%</div>
                    </div>
                </div>
                <div *ngFor="let item of collection.items" class="loot-row row-style">
                    <img style="text-align: center; padding: 0px;" [src]="item.image" width="25px" height="25px"/>
                    <div style="flex: 4; text-align: left; padding-left: 5px;"><a [href]="item.link" target="_blank">{{item.name}}</a></div>
                    <div style="flex: 2; text-align: center;">{{item.quantity?.min == item.quantity?.max ? item.quantity?.min : item.quantity?.min + "-" + item.quantity?.max}}</div>
                    <div style="flex: 2; text-align: center;">{{item.chance | number:'1.0-2' }}%</div>
                    <div style="flex: 2; text-align: center;">{{item.blueprintPercent | number:'1.0-2' }}%</div>
                    <div style="flex: 2; text-align: center;">{{item.quality.max * 100 | number:'1.0-0'}}%</div>
                </div>
            </div>
        </div>
    </div>
</div>
