
.input-wrapper { 
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 16px;
    gap: 12px;
    background: rgba(var(--interactive-color-2-rgb), 0.5);
    border: 1px solid var(--interactive-color-2);
    border-radius: 12px;
    outline: none;
    width: 80%;
    max-width: 350px;
    height: 50px;
    margin: 15px auto;
    overflow-x: auto;
}

.date-wrapper {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-wrapper span {
    font-size: 30px;
}

.input-field {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--text-color-1);
    font-size: 20px;
}


.input-icon {
    background: none;
    border: none;
    color: var(--text-color-1);
    padding: 0;
}

.input-success {
    border: 1px solid var(--success-outline-color);
}

.input-failure {
    border: 1px solid var(--error-outline-color);
}