
.page-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: middle;
    padding: 15px;
    margin: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    flex-shrink: 1;
}

.filters {
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.filter {
    min-width: 250px;
    width: 100%;
    max-width: 400px;
}