
<div class="input-group input-wrapper mb-3" 
    [ngClass]="{'input-success': status == 1, 'input-failure': status == -1}">
    <span id="{{placeholder}}-label" class="input-group-text input-icon">
        <bootstrap-icon [preset]="icon" width="25px" height="25px"></bootstrap-icon>
    </span>
    <input 
        type="{{inputType}}" 
        class="form-control input-field" 
        placeholder="{{placeholder}}" 
        [attr.aria-label]="placeholder" 
        [attr.aria-describedby]="placeholder + '-label'"
        [(ngModel)]="value"
        (ngModelChange)="valueChange.emit(value)"
    />
</div>
