
.card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 400px;
    max-width: 90vw;
    height: 200px;
    border: solid;
    border-width: thin;
    border-radius: 16px;
    margin: 10px;
    margin-top: 30px;
    padding: 6px;
    cursor: pointer;
    background-color: rgba(var(--background-color-1-rgb), 0.8);
    border-color: var(--interactive-color-1);
    color: var(--text-color-2);
}

.card:hover {
    filter: drop-shadow(1px 1px black);
}

.card:active {
    scale: 0.95;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    padding: 5px;
    overflow: hidden;
    text-align: center;
}

.spacer {
    margin: 5px;
}

h4 {
    display:block;
    word-wrap:break-word;
    width: 100%;
    margin-bottom: 0px;
    filter: drop-shadow(1px 1px black);
}

img {
    max-height: 100%;
    max-width: 40%;
    margin: auto;
    object-fit: scale-down;
    vertical-align: bottom;
    filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.4));
  }